@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Authentic";
    src: url("../fonts/Authentic.otf") format("opentype");
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {
  background-color: #F9FAFA; /* Grey 50 */
  color: #0D2632; /* Grey 400 */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Authentic', serif;
  font-weight: normal;
}

#container {
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container > div {
  margin: auto;
}

table {
  font-size: 0.9rem;
  margin: 2rem auto;
  padding: 0.9rem;
  border: 1px solid #B5C7D0; /* Grey 100 */
  border-radius: 1rem;
  background-color: #FFFFFF; /* White */
}

td {
  padding: 0.25rem 0.5rem;
}

.footnote {
  font-size: 0.75rem;
}